FOOTBALL_DATA_API_KEY=your_football_data_api_key
FOOTBALL_DATA_BASE_URL=https://api.football-data.org/v4
EPL_SEASONS_TO_FETCH=5
REFRESH_API_TOKEN=replace_with_long_random_token
BACKEND_API_URL=http://localhost:8000
NEXT_PUBLIC_BASE_URL=http://localhost:3000

